/***********************
GENERAL 
***********************/

body {
    font-family: 'Hind Guntur', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

img {
  max-width: 100%;
}

li {
    list-style: none;
}

p {
    padding-top: 23px;
}

/***********************
NAVBAR
***********************/

.navbar {
    height: 65px;
/*    border-bottom: 5px solid rgba(255, 255, 255, 0.5);*/
}

.navbar-nav li a {
    line-height: 39px;
    padding-right: 80px;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    color: #908060;
    transition: 0.3s;
}

.navbar-default .navbar-nav li a:hover {
    color: #000;
    text-shadow: -0.5px 1px 1px #ccc;
    transition: 0.3s ease;
}




/***********************
BUTTONS
***********************/

.navbar button {
    border: none;
    background: transparent;
    margin-top: 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus    
{
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
    height: 3px;
    width: 30px;
    margin-top: 4px;
}


/***********************
JUMBOTRON-ONE
***********************/


.jumbo-one {
    position: relative;
    background: url('../img/pojumbo2.jpg') no-repeat center center;
    min-height: 726px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0px;
}

.brand {
    padding-top: 150px;
    font-family: 'Josefin Sans';
    text-shadow: 0 4px 3px #c9cab7; 
    
}

/***********************
SUB HEADING EMAIL FORM
***********************/

.sub-heading {
    background-color: black;
    padding: 12px 0;
/*    border-bottom: 2px solid #fa587c;*/
    
    
    
}

#tuned {
    padding: 30px;
    color: #bbb;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

/***********************
LIFE ON THE ROAD
***********************/

.section-three {
    height: 200px; 
}

.road {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin-top: 73px;
}

/***********************
GALLERY
***********************/

.gallery {
    margin-bottom: 100px;
}

/***********************
JUMBOTRON-TWO
***********************/



.jumbo-two {
    position: relative;
    background: url('../img/poitunes.jpg') no-repeat center center;
    min-height: 610px;
    background-size: cover;
    background-attachment: fixed;
    
    margin-bottom: 0px;
}


.itunes-text {
    min-width: 200px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
    position: absolute;
    margin-right: 50px;
    border: 2px solid #fa587c;
    text-align: center;
    margin-top: 200px;
    transition: 1s ease;
}

.itunes-text:hover {
    background-color: #fff;
    border: 2px solid #4c7da9;
    transition: .6s ease;
}

.itunes-text a:hover {
    text-decoration: none;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

#happy-whore {
    font-family: 'Shadows into light', sans-serif;
}

/***********************
SUB-HEADING-BIO
***********************/

.bio-text {
    margin: 70px auto;
    max-width: 980px;
}

.sub-heading-bio {
    margin: 60px auto;
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 100;
}

.sub-heading-bio a {
    color: #009bff;
}

.sub-heading-bio a:hover {
    text-decoration: none;
    color: rgba(0, 155, 255, 0.7);
}


.border {
    display: block;
    width: 422px;
    height: 1px;
    background: #060606;
    margin: 0 auto;
}

/***********************
TOUR
***********************/
.table-responsive {
    border: none;
}

.table-tour {
     position: relative;
    background: url('../img/texture2.jpg') no-repeat center center;
    
    min-height: 450px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0px;
}


.table {
    max-width: 800px;
    margin: 60px auto 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}

.table-tour h1 {
   color: #333;
   padding-top: 50px;
   font-family: 'Raleway', sans-serif;
   font-size: 3.4rem;
}




/***********************
FOOTER
***********************/

.footer {
    background: #000;
    padding: 10px 0;
    height: 100%;
    min-height: 86px;
    max-height: 120px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 20px;
/*    border-right: 1px solid #70726F;*/
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width : 768px) {
    #tuned {
        padding: 0;
    }
    
    .border {
        width: 80px;
    }
    
    .jumbo-one {
        max-height: 200px;
        background-attachment: inherit;
        
    }
    
    .jumbo-two {
        background-attachment: inherit;
    }
    
}

@media screen and (max-width : 376px) {
    .footer a {
        padding: 0px;
    }
    
    
    





