/*Uncollapsed navbar*/

@media only screen and (max-width : 768px) {
    .navbar {
        height: auto;
    }
    
    .navbar-collapse {
    text-align: center;
    background-color: #fff;
    
    
    }
    
    .navbar-nav li a {
        margin: 0 auto;
        border-bottom: 1px dotted #fa587c;
        width: 280px;
        font-family: 'Shadows into light', sans-serif;
        font-size: 25px;
        padding: 5px 0;
    }
    
     .navbar-nav {
        margin: 0px;
    }
    
    .form-group {
    max-width: 290px;
    margin: 0 auto;
    }  
}
    


@media screen and (max-width : 481px) {
    
    .section-four {
        margin-top: 50px;
    }
}


}